@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    color: #ffffff;
    background-color: #000000;
}

/* Fixes Tailwind h-screen on iPhones */
@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

html.light{
  color:black;
  background-color: #FFDBEF;
  ;
}

.wutdos{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  width: fit-content;
  padding: 20px;
}
.containerwutdos {
  padding: 10px;
  width: 40em;
}

.blossomtitle{
 
  font-family: Libre Caslon Text;
  font-size: 200px;
  font-weight: 700;
  line-height: 246px;
  letter-spacing: 0em;
  text-align: center;


}
/* Fixes outline style for inputs on Safari */
input:focus { outline: none; }
