@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fixes Tailwind h-screen on iPhones */
@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}

body {
    @apply bg-light-pink overflow-hidden scroll-smooth lowercase text-black;
}

/* Fixes outline style for inputs on Safari */
input:focus {
    outline: none;
}

span {
    @apply font-medium text-pink-500 underline decoration-pink-500 decoration-wavy decoration-[1.5px];
}

h2 {
    @apply w-fit rounded-full border border-pink-500 px-3 py-1 text-center text-xl font-bold;
}

h3 {
    @apply text-lg font-semibold italic;
}

/* .collapse-title {
    @apply inline-block w-fit rounded-full border border-pink-500 px-3 py-1 text-center text-lg font-semibold italic;
} */

.collapse-title {
    @apply font-bold italic;
}
